body{
  /* background: linear-gradient(140deg,rgb(1, 0, 42),rgb(0, 29, 57),rgb(0, 0, 0)); */
  /* background: linear-gradient(140deg,rgb(0, 0, 19),rgb(0, 2, 24),rgb(0, 0, 0)); */
  /* background-size: cover; */
  /* height: 100vh; */
  overflow-x: hidden;
  color: white;
  background: white;
  
}

